.form__box {
    //  position: absolute;
     border: 1.5px solid white;
     background-color: white;
     box-shadow: 0 0 7px rgb(207, 207, 207), 0 0 10px rgb(238, 238, 238);
    //  min-height: 430px;
     width: 500px;
     border-radius: 10px;
      top: 15px;          
}

.form__header {
    padding: 20px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;  
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.form__header > h2{
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.x-background{
    padding: 3px 13px;
    background-color: var(--color-background);
    border-radius: 50%;
}

.x-background:hover{
    background-color: #e0e5eb;
}

.form__avatar{
    display: flex;
    align-items: center;
    padding-left: 5px;
    // padding: 15px 5px;
}

.form__input {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-radius: 999px;
    cursor: pointer;
   
}

.form__input > input{
    width: 100%;
    outline: 0px;
    font-size: 1.5rem;
    color: var(--color-body-darker);
}

.form__post{
    padding: 10px 15px 5px;
}

.form__file{
    border: 1px solid darkgrey;   
    border-radius: 5px;    
    padding: 8px;
    
    margin-top: 20px;
    margin-bottom: 10px;
}

.add-photo{
    background-color: #f5f8fb;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center; 
    height: 200px;
    border-radius: 5px; 
    font-size: 1.75rem;
    font-weight: 600;
    cursor: pointer;
}

.add-photo:hover{
    background-color: var(--color-background);
}

.circle-background{
    padding: 8px;
    background-color:#dee3e8;
    border-radius: 50%; 
    margin-bottom: 5px;
}

.btn--post{   
    padding: 8px;
    font-size: 1.5rem;
    width: 100%;
    border-radius: 6px;
    text-transform: none;
 }

 .custom-file-input {
    position: absolute;
    color: transparent;
    cursor: pointer;
    height: 200px;
    width: 100%;
}


 .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.displayNone{
    display: none;
}

.photo-preview{
    position: relative;    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(245, 245, 245, 0.7);
    z-index: 10;
    height: 200px;
    width: 100%;
}
 
.photo-img{
   position: absolute;
   z-index: 9;
   height: 200px;
   width: 100%;
   border-radius: 6px;
   z-index: 9;
   background: rgba(50, 70, 80, 0.7);
   opacity: 0.9;
   filter: brightness(90%);
   object-fit: cover;
}

.photo-edit{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background: #fff;
    border: 0;
    border-radius: 6px;
    font-size: 1.35rem;
    font-weight: 600;
    width: auto;
    cursor: pointer;
    z-index: 11;
}

.photo-edit:hover{
    background: #eff0f0;
}

.photo-preview > .close-x {
    position: absolute;
    color: var(color-body-darker);
    cursor: pointer;
    top: 10px;
    right: 10px;
    padding: 3px 10px;
    font-size: 1.75rem;
    font-weight: 400;
    border-radius: 50%;
    background: #fff;
    border: 1px solid var(--color-border);
    z-index: 11;
  }

.photo-preview > .close-x:hover{
    background: #eff0f0;
}

.form__header--delete{
    color: black;
    font-size: 2rem;  
    font-weight: 600;
    text-align: left;
    padding-bottom: 10px;
}

.from__submit{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:flex-end;  
}

.from__submit__delete > button{
    margin-right: 10px;
    text-align: center;
    padding: 0 25px;
    font-size: medium;
    font-weight: 300;
}

.from__submit__delete--cancel{
    background-color: white;
    color: #2e81f4;
    margin-right: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 15px;
    text-transform: capitalize;
}

.from__submit__delete--cancel:hover{
    background: #eff0f0;
    border-radius: 6px;
}

.from__submit__delete{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 6px;
    text-transform: capitalize;
}

.form__content{
    font-size: 1.5rem;
    color: var(--color-text);
} 