.friend__list{
    display: flex;
    flex-wrap: wrap;
}

.friend__img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    // border: 1px solid darkgray;
    // background-color: lightgray;
}

.photorow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 10px; 
    width: calc(20% - 20px);
    height: 185px;
    background-color: white;
    border-radius: 15px;
    
    // box-shadow: 0 0 7px rgb(207, 207, 207), 0 0 10px rgb(238, 238, 238);
}

.photorow > .photorow__img{
    width: 165px;
    height: 165px;
    // border: 1px solid #ccd0d5;
}

.photorow > .photorow__img > .photos__img{
    max-width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0px 0px;
    border: 1px solid #ccd0d5;
    cursor: pointer;
}


.friendcol > .friendrow__img > .friend__img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid darkgray;
    // background-color: lightgray;
    margin: 0px 0px;
}

.friendcol > .photorow__img{
    width: 110px;
    height: 110px;
}


.friendcol > .photorow__img > .photos__img{
    max-width: 100%;
    height: 110px;
    object-fit:cover;
    border-radius: 10px;
    // border: 1px solid darkgray;
    // background-color: lightgray;
    margin: 0px 0px;
    border: 1px solid #ccd0d5;
}


.friendrow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 15px; 
    width: calc(90% - 30px);
    height: 115px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 7px rgb(207, 207, 207), 0 0 10px rgb(238, 238, 238);
    cursor: pointer;
}

.friendcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 5px; 
    width: calc(33.33% - 10px);
    height: 130px;
    background-color: white;
    border-radius: 15px;
    // box-shadow: 0 0 7px rgb(207, 207, 207), 0 0 10px rgb(238, 238, 238);
    cursor: pointer;
}



.friendrow__img{
    margin: 3px 5px;
    border-radius: 15px;
 
}



.friendrow__info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // min-width: 150px;
    flex: 1;
}

.friendrow__info > p {
    font-weight: 500;
    font-size: medium;
    // margin: 10px 10px;
    color: black;
    padding-left: 10px;
    cursor: pointer;

}

.friendcol > .friendrow__info > p {
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: 3px;
    color: black;
    text-align: left;

}

.friend__menu{
    // width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 3px 3px;
    right: 0;
    position: relative;
    margin-right: 10px;
}

.friend__menu:hover{
  
    background-color: #eff2f5;
    // border-radius: 100px;
    border-radius: 50px;
    
}


.friend__menu:hover .friend__top__right--menu{
    display: block;
}


.friend__top__right--menu{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px;
    top: -58px;
    right:  -180px;
    z-index: 1;
}

.friend__top__right--menu > .friend__option{
    color: --var(--color-body-darker);
    font-size: 1.5rem;
    font-weight: 600;
  
    display: flex;  
    justify-content: flex-start;
    flex: 1;
    padding: 10px;
}

.friend__option:hover{
    background-color: #f1f2f5;
    border-radius: 6px;
}

.friend__bottom{
    padding-left: 2rem ;
    font-size: 1.65rem;
    font-weight: 400;
    color: rgb(111, 110, 110);
    margin-top: 8px;
    margin-bottom: 10px;
}



@media screen and (min-width: 1000px) {

    .friendrow{

        width: calc(50% - 30px);
    }
   
    .friendcol > .friendrow__img > .friend__img{

        width: 100px;
        height: 100px;
    }
        
 }

