.splash-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

}

.splash-intro{
    width: 400px;
}

.login-box{
    border: 1.5px solid white;
    background-color: white;
    box-shadow: 0 0 7px #cfcfcf, 0 0 10px #eeeeee, 0 0 21px #fff;
    height: 350px;
    width: 400px;
    border-radius: 10px;
    padding: 2px;
}


.splash-intro h1 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 5.7rem;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
    padding-top: 25px;
}

.splash-intro h2 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 28px; 
    width: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 35px;
}

.login__demo{
    margin: 10px;
    padding-bottom: 18px;
    text-align: center;
    border-bottom: 1px solid lightgray;
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 372px;
}

.login__create{
    margin: 10px;
    padding-bottom: 28px;
    text-align: center;
}

/*Input*/
.login{
    margin: 10px;
    margin-bottom: 5px;
    width: 372px;
}

.login:focus{
   outline: 1px solid var(--color-primary);
}


/*btn*/
.btn--login{
    margin: 10px;
    padding: 0 16px;
    font-size: 2rem;
    line-height: 48px;
    width: 372px;
    border-radius: 6px;
    text-transform: none;
}

.btn--create{
    margin: 10px 10px;
    padding: 0 16px;
    font-size: 17px;
    line-height: 48px;
    width: 192px;
    border-radius: 6px;
    text-transform: none;

}

@media screen and (min-width: 900px) and (min-width: 900px){

    .splash-page{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-height: 85vh;   
   
    }

    .splash-intro{    
        box-sizing: border-box;
        margin-right: 0;
        padding-right: 32px;    
        width: 400px;        
        position: relative;
        top: -30px;
 
    }

    .splash-intro h1 {
        text-align: left;
    }

    .splash-intro h2 {
        font-size: 24px;
        line-height: 28px;
        text-align: left;     
        padding-top: 10px;
    }

    .login-box{
        position: relative;        
        right: -15px;  
    }
}

@media screen and (min-width: 1075px) {

    .splash-page{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 85vh;
        // align-self: flex-start;    
    }

    .splash-intro{  
        position: relative;
        top: -30px;
        left: 3px;      
        width: 600px;
    }

    .splash-intro h1 {
        text-align: left;
    }

    .splash-intro h2 {
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
        width: 500px;
        text-align: left;
        padding-top: 10px;
    }

    .login-box{
        position: relative;        
        right: -25px;  
    }
}

