.navbar{
    padding: 5px 20px px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 99999;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    height: 56px;
}

.navbar__left{
    display: flex;
    padding: 8px 20px;
}

.navbar__center{
    display: none;
    justify-content: center;
}

.navbar__right{
    display: none;
}


.navbar__input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 200px;
    font-size: 1.5rem;
    font-weight: 300;
}

.navbar__logo{
    width: 40px;
    min-height: 40px;
}


.navbar__info--user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
    padding: 5px 10px;
}

.navbar__info--userimg{
    margin-right: 10px;
}

.navbar__info--username{
    font-size: medium;
    font-weight: 600;
    color: black;
}

.avatar{
    background: #eff2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    width: 178px;
    height: 178px;
    margin-right: 10px;
    cursor: pointer;
}

.avatar--small{
    width: 30px;
    height: 30px;
}

.avatar--medium{
    width: 35px;
    height: 35px;
}

.avatar:hover{
    background: #e5e8ed;
}

.navbar__info--user:hover{
    background-color: #eff2f5;
    border-radius: 999px;
    padding: 2px 10px;
}

.navbar__input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}


.navbar__option--active{
    border-bottom: 4px solid #2e81f4;
}

.navbar__option{
    width: 111px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 38px 0 38px;
    cursor: pointer;
}

.navbar__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    // padding: 0 30px;
    border-bottom: none;
}

.navbar__info{
    display: flex;
    align-items: center;
    color:rgb(111, 110, 110);
   
}

.navbar__info--option {
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px;
}

.navbar__info > h4{
    margin-left: 15px;
}

.navbar__info--option:hover{
    background-color: #f1f2f5;
    border-radius: 10px;
}

.navbar__info--option--expane:hover {
    background-color: #f1f2f5;
    border-radius: 10px;
    display: block;
}
.navbar__info--option--expane:hover > .navbar__info--menu{

    display: block;
}

.navbar__info--menu{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    // border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 5px;
    top: 35px;
    right: 5px;
    z-index: 1;

    cursor: pointer;
}



@media screen and (min-width: 900px) {
    .navbar__center {
      display: flex;
    }
}

@media screen and (min-width: 450px) {
    .navbar__right {
      display: flex;
    }
}