/* messagesender */
.messagesender{
    width: 100%;
    display: flex;
    margin-top: 30px;
    // margin-bottom: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    // width: 610px;
    padding: 15px;

}

.messagesender__top{    
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding-bottom: 15px;
    
}

.messagesender__input{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--color-body-darker);
    font-size: 1.6rem;
}

.messagesender__bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    
}


.messagesender__option{
    display: flex;
    flex: 1;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    color: gray;
    margin: 3px;
    cursor: pointer;
}

.messagesender__option > h3{
    font-size: 1.6rem;
    color: var(--color-body-darker);
    margin-left: 10px;
    position: relative;
    top: 5px
}


@media screen and (min-width: 900px) {
    .messagesender{
        width: 610px;
        
    }
}

/* POST */
.post{
    width: 100%;
    margin-top: 15px;
    // margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    
}


.post__top{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items:flex-start; 
    padding: 15px;
}

.post__top--left{
    display: flex
}


.post__topinfo{
    margin-left: 10px;
}

.post__topinfo > h3{
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 3px;
}


.post__topinfo > p {
    font-size: 1.2rem;
    line-height: 1;
    color: gray;
   
}


.post__top__right{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.post__top__right:hover .post__top__right--menu{
    display: block;
}

.post__top__right > p {
    font-weight: 800;
    color: --var(--color-body-darker);
    font-size: large;
    // padding: 5px;
}


.post__top__right--menu{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px;
    top: 35px;
    right: -5px;
    z-index: 1;
}

.post__top__right--menu > .post__option{
    color: --var(--color-body-darker);
    font-size: 1.5rem;
    font-weight: 600;
  
    display: flex;  
    justify-content: flex-start;
    flex: 1;
    padding: 10px;
}

.post__option:hover{
    background-color: #f1f2f5;
    border-radius: 6px;
}

.post__option-button{
    margin-left: 10px;
}


.post__image{
    display: flex;
    justify-content: center;

}

.post__image > img {
    max-width: 571px;
    max-height: 400px;
    padding-bottom: 10px;
}

.post__bottom{
    padding-left: 2rem ;
    font-size: 1.65rem;
    font-weight: 400;
    color: rgb(111, 110, 110);
    margin-top: 8px;
    margin-bottom: 10px;
}

.post__menu{
    padding: 5px;
    font-size: 1.65rem;
    font-weight: 900;
    color: var(--color-body-darker);
}

.post__menu:hover{
  
    background-color: #eff2f5;
    border-radius: 100px;
    
}

.post__options{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.post__option > p{
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    
}

.post__option{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: var(--color-body-darker);
    margin: 5px;
}


.post__likeComment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post__option--like{
    padding: 10px;
    text-align: left;
    color: var(--color-body-darker);
    font-size: 1.5rem;
}


.post__option--comment{
    padding: 10px;
    text-align: right;
    color: var(--color-body-darker);
    font-size: 1.5rem;
}

.post__option--comment > p{
    cursor: pointer;
}


@media screen and (min-width: 900px) {
    .post{
        width: 610px;
        
    }
}



.comments__create{
    display: flex;
    align-items: center;
    margin: 10px 10px;

}

.comments__create > form{
    display: flex;
    flex:1;
}

.comments__item{
    display: flex;
    align-items: center;
    align-items: center;
    margin: 10px 10px;
    position: relative;
}


.comments__input{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
    cursor: pointer;
    outline: 0;
    width: 100%;
    font-size: 1.5rem;
}


// .comments__input:focus {
//     border: 1px solid #2e81f4;
// }

.comments__body{
   position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
  
    margin-left: 10px;
    margin-right: 10px;
   
 
}

.comments__body__top{
    background-color: #eff2f5;
    padding: 10px;
    border-radius: 20px;
    border: 0;
}

.comments__body__top > h3{
    font-size: 1.35rem;
    color: rgb(11, 11, 11);
    margin-bottom: 3px;
    text-transform: capitalize;
}

.comments__body__top > p{
    font-size: 1.3rem;
    color: rgb(11, 11, 11);
  
}

.comments__body__bottom{
    display: flex;
}

.comments__body__bottom--likes{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.comments__body__bottom--likescount{
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 1.2rem;
}


 .comments__buttom{
    // position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    font-weight: 600;
    color: rgb(82, 81, 81);
}

.comments__buttom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.comment__options{
    display: flex;
    justify-content: flex-start;
   
}

.comments__item--menu{
  
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    // padding: 12px 16px;
    top: 30px;
    left: -80px;
    z-index: 1;
}


.comments__menu{
    padding: 5px 10px 10px 10px;
    font-weight: 600;
}


.comments__menu:hover {
    background-color: #eff2f5;
    border-radius: 100px;
    cursor: pointer;
}


.comments__body__right{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.comments__body__right:hover .comments__item--menu{
    display: block;
}


.comments__item--menu > .post__option{
    color: --var(--color-body);
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;  
    display: flex;
    // align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
}

.post__comment{
    display: flex;
    flex-direction: column;
}

.btn--hidden{
    display: none;
}

.jacebook__color--active{
    color: #2e81f4;
}

.like-circle{
    background: #2e81f4;
    padding: 3px;
    border-radius: 50%;
    color: white;
}

.like-circle-small{
    padding: 2px;
    border: 2.5px solid #fff;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
