
.sidebar{
    
    padding: 25px 10px;
    width: 100%;
    position: fixed;
}

.app >.sidebar{
    display: none;
    width: auto;
    flex: 0.33;
}


.sidebarrow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarrow:hover{
    background-color: #e8e9ea;
    border-radius: 10px;
}

.sidebarrow > h4{
    margin-left: 20px;
    font-weight: 00;
    font-size: 1.5rem;
}

.sidebarrow > a{
    margin-left: 20px;
    font-weight: 600;
}

@media screen and (min-width: 1050px) {
    .app > .sidebar {
      display: flex;
      flex-direction: column;
    }
}